<div class="container mt-5" style="width: 40rem">
    <h3>Success! Please use this link:</h3>
    <a href="https://www.google.com" target="_blank"><h5>https://www.google.com</h5></a>
    <div class="btn-group mt-2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary mr-3">Copy</button>
        <a href="/" type="button" class="btn btn-outline-success">Back</a>
    </div>   
</div>